PORT=3000
NODE_ENV=development
MONGO_URI=
CORS_ORIGIN=http://<your-ec2-public-ip>:port   # or your domain
JWT_SECRET=replace_with_a_long_random_string # You can generate one by running: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_EXPIRES_IN=7d
