PORT=3000
NODE_ENV=development
MONGO_URI=your_mongodb_uri
CORS_ORIGIN=your_cors_origin
JWT_SECRET=a_random_string # You can generate one by running: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_EXPIRES_IN=7d
OPENAI_API_KEY=your_openai_api_key
